
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Головна сторінка</h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжковий магазин</title>
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>
<body>
    <div>
        <h3>Розпродаж товарів</h3>
        <table>
            <tr>
                <td><p>Назва товару</p></td>
                <td><p>Виробник</p></td>
                <td><p>Цiна</p></td>
                <td></td>
            </tr>

            @foreach (var g in ViewBag.Goods)
            {
                <tr>
                    <td><p>@g.Name</p></td>
                    <td><p>@g.Maker</p></td>
                    <td><p>@g.Price</p></td>
                    <td><p><a href="/Home/Buy/@g.Id">Купити</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
